.AccountPage
  .AccountPage__header
    = image_tag asset_path('logo/logo.png'), alt: '', class: 'icon'

  .Main-AccountPage
    .Main-AccountPage__move
      .Main-AccountPage__move--title
        %p.newText パスワードをお忘れの方
      .AccountPage__title
        = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
          = render "devise/shared/error_messages", resource: resource
          .field
            = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス",class: 'field__box'
          %br/
          .actions
            = f.submit "再発行する",class: 'actions__box'
        = render "devise/shared/links"
    %f.usrfooter
      %ul.inner
        %li.inner__box 
          %p.inner__box--text プライバシーポリシー
        %li.inner__box
          .inner__box--text FURIMA利用規約
        %li.inner__box
          .inner__box--text 特定商取引に関する表記
    .usrfooter-logo
      = image_tag asset_path('logo/logo.png'), alt: '', class: 'usrfooter-logo__icon'