.Listing
  .TopIcon
    = image_tag 'logo/logo.png', alt: '', class: 'TopIcon__icon'
  .Buy__main
    .Top__content
      %h2.Style__heading
        購入内容の確認
    .Content
      .Item__box
        .Item__box__image
          .Style__thumbnail
            = image_tag @item.item_images[0].image.url
        .Item__box__detail
          %p.Item__box__detail__name
            =@item.name
          %p.Item__box__detail__price
            %span.tax
              送料込み (税込)
            %span.price
              ¥
              =@item.price.to_s.reverse.gsub( /(\d{3})(?=\d)/, '\1,').reverse
    .Content
      .Payment
        %span
          支払い金額
        %span.Payment__amount
          ¥
          =@item.price.to_s.reverse.gsub( /(\d{3})(?=\d)/, '\1,').reverse
      %label.Electronic__payment
    .Content
      .Title
        %h3.Title__neme
          支払い方法
        = link_to '変更する>'
      .Payment__method
        %p.Payment__method__name
          クレジットカード
        %p.Payment__method__fee
          (手数料¥0)
    .Content
      .Title
        %h3.Title__neme
          配送先
        = link_to '変更する>'
      .Shipping__address
        %p.Shipping__address__info
          〒
          =@address.postal_code
          %br/
          =@address.area.name
          %br/
          =@address.last_name
          =@address.first_name
    .Bottom__content
      .Buy__form
        = form_with url: pay_purchase_url(@item), method: :post , local: true do |f|
          = f.submit '購入する', class: 'Buy__form__btn'
  = render 'devise/registrations/footer'