.Header
  .Inner
    .Main__header
      .Icon
        = link_to('#')do
          = image_tag '/assets/logo/logo.png', alt: '', class: 'Main__header__icon'
      .Search__box
        %form.Form__contents
          %input.Form__inputText{"placeholder": "キーワードから探す", "type": "search"}
          %button.Search__btn{"type": "submit"}
            = image_tag '/assets/icon/icon-search 1.png', class: 'Search__btn--icon'

    .Nav
      %ul.Lists__left
        %li
          = link_to 'カテゴリー'
        %li
          = link_to 'ブランド'
      %ul.Lists__right
        %li
          = link_to 'ログイン'
        %li
          = link_to '新規会員登録'