%section.PickUpContainer
  %h2.Head ピックアップカテゴリー
  .ProductBox
    .ProductHead
      %h3.title 
      = link_to "新規投稿商品"
    .ProductLists
      .ProductList
        =link_to "#" do
          %figure.ProductList__img
            = image_tag src= "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/18/beef.JPG"
          .ProductList__body
            %h3.name test
            .details
              %ul
                %li 10000円
                %li 
                  = icon('fas', 'star')
                  1
              %p (税込)
      .ProductList
        =link_to "#" do
          %figure.ProductList__img
            = image_tag src= "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/16/IMG_9072.JPG"
          .ProductList__body
            %h3.name ee
            .details
              %ul
                %li 1000円
                %li 
                  = icon('fas', 'star')
                  4
              %p (税込)
      .ProductList
        =link_to "#" do
          %figure.ProductList__img
            = image_tag src= "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png"
          .ProductList__body
            %h3.name product3
            .details
              %ul
                %li 30000円
                %li 
                  = icon('fas', 'star')
                  1
              %p (税込)
      .ProductList
        =link_to "#" do
          %figure.ProductList__img
            = image_tag src= "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png"
          .ProductList__body
            %h3.name product2
            .details
              %ul
                %li 20000円
                %li 
                  = icon('fas', 'star')
                  0
              %p (税込)
      .ProductList
        =link_to "#" do
          %figure.ProductList__img
            = image_tag src= "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/7/a001.png"
          .ProductList__body
            %h3.name product1
            .details
              %ul
                %li 10000円
                %li 
                  = icon('fas', 'star')
                  1
              %p (税込)
      