%Nav.Bread__crumbs
  %ul
    %li
      = link_to 'FURIMA', root_path
    %li
      = link_to "#{@category.parent.parent.name}"
    %li
      = link_to "#{@category.parent.name}"
    %li
      = link_to "#{@category.name}"
    %p 
      = @item.name
.Show__main
  .Content
    .Top__content
      .Item__box
        %h2.Item__box__name 
          = @item.name
        .Item__box__body
          = image_tag 'https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/18/beef.JPG', class: 'Main__image'
          %ul.Sub__image
            %li
              = image_tag 'https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png', class: ''
            %li
              = image_tag 'https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/14/a001.png', class: ''
            %li
              = image_tag 'https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/15/a003.png', class: ''
        .Item__box__price
          %p
            ¥
            = @item.price
          .Item__box__price--detail
            %span (税込)
            %span 
              = @shipping_cost.status
        .Item__detail
          = @item.description
        .Table
          %table
            %tr
              %th 出品者
              %td へいちゃん
            %tr
              %th カテゴリー
              %td
                = link_to "#{@category.parent.parent.name}"
                %br
                = link_to "#{@category.parent.name}"
                %br
                = link_to "#{@category.name}"
              %tr
                %th ブランド
                %td オージービーフ
              %tr
                %th 商品のサイズ
                %td 200g
              %tr
                %th 商品の状態
                %td 
                  = @condition.name
              %tr
                %th 送料の負担
                %td
                  = @shipping_cost.status
              %tr
                %th 発送元の地域
                %td
                  = @area.name
              %tr
                %th 発送日の目安
                %td 
                  = @day.day
        .Optional__area
          %ul
            %li.Optional__btn--likebtn
              = icon('fas', 'star')
              お気に入り 1
          %ul.Optional
            %li.Optional__btn
              = link_to '' do
                = icon('fas', 'flag')
                不適切な商品の通報
      .Comment__box
        %form.New__comment
          %textarea{name:"comment[body]", class:"New__comment__body"}
          %p.Notice__msg
            相手のことを考え丁寧なコメントを心がけましょう。
            %br/
            不快な言葉遣いなどは利用制限や退会処分となることがあります。
          = button_tag class:'Comment__btn' do
            = icon('fa', 'comment')
            コメントする
    %ul.Links
      %li
        = link_to'< 前の商品'
      %li
        = link_to '次の商品 >'
    .Related__items
      = link_to "#{@category.parent.parent.name}をもっと見る"
      .ProductLists
        .ProductList
          =link_to item_path(2) do
            %figure.ProductList__img
              = image_tag src= "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/18/beef.JPG"
            .ProductList__body
              %h3.name test
              .details
                %ul
                  %li 10000円
                  %li 
                    = icon('fas', 'star')
                    1
                %p (税込)
