.Listing
  .TopIcon
    = image_tag '/assets/logo/logo.png', alt: '', class: 'TopIcon__icon'
  = form_for new_item_path, method: :post, local: true do |f|
    .Content
      .Content__title
        %label.Content__title__name 出品画像
        %span.Content__title__Atag 必須
      %p.Content__text 最大5枚までアップロードできます
      .Content__Image
        .Content__Image__Form
          = f.label :image do
            = image_tag src= "icon/icon_camera.png", class: "Content__Image__Form__Icon"
            %p クリックしてファイルをアップロード
            = f.file_field :image, class: "Content__Image__Form__tag"
            %input{class:"Content__Image__Form__tag", type: "file"}
            %input{class:"Content__Image__Form__tag", type: "file"}
            %input{class:"Content__Image__Form__tag", type: "file"}
            %input{class:"Content__Image__Form__tag", type: "file"}
            %input{class:"Content__Image__Form__tag", type: "file"}
            %input{class:"Content__Image__Form__tag", type: "file"}
    .Content
      .Content__title
        %label.Content__title__name 商品名
        %span.Content__title__Atag 必須
      = f.text_field :name, placeholder: "40文字まで", class: "Content__AField"
      .Content__title
        %label.Content__title__name 商品の説明
        %span.Content__title__Atag 必須
      = f.text_area :content, placeholder: '商品の説明(必須)', class: "Content__BField"
    .Content
      .Content__title
        %label.Content__title__name カテゴリー
        %span.Content__title__Atag 必須
      = f.text_field :name, placeholder: "", class: "Content__AField"
      .Content__title
        %label.Content__title__name ブランド
        %span.Content__title__Btag 任意
      = f.text_field :name, placeholder: "例）シャネル", class: "Content__AField"
      .Content__title
        %label.Content__title__name 商品の状態
        %span.Content__title__Atag 必須
      = f.collection_select(:condition_id, Condition.all, :id, :name,{include_blank: "選択してください"}, class: "Content__AField" )
    .Content
      .Content__title
        %label.Content__title__name 配送料の負担
        %span.Content__title__Atag 必須
      = f.collection_select(:shipping_cost_id, ShippingCost.all, :id, :status,{include_blank: "選択してください"}, class: "Content__AField" )
      .Content__title
        %label.Content__title__name 発送元の地域
        %span.Content__title__Atag 必須
      = f.collection_select(:area_id, Area.all, :id, :name,{include_blank: "選択してください"}, class: "Content__AField" )
      .Content__title
        %label.Content__title__name 発送までの日数
        %span.Content__title__Atag 必須
      = f.collection_select(:day_id, Day.all, :id, :day,{include_blank: "選択してください"}, class: "Content__AField" )
    .Content
      .Content__title
        %label.Content__title__name 販売価格
        %span.Content__title__Atag 必須
      = f.text_field :name, placeholder: "¥300 ~ 2,000,000", class: "Content__CField"
    .Send
      = f.submit '出品する', class: 'Send__ABtn'
      .ReturnBtn
        = link_to'もどる'
    = render 'devise/registrations/footer'