= render "items/pc_header"
.MyAccountPage
  .MyAccountPage__header

  .Main-AccountPage
    .Main-AccountPage__move
      .Main-AccountPage__move--title
        %p.newText 登録クレジットカード情報
      .AccountPage__title 
        .card-message
          = "**** **** **** " + @default_card_information.last4
          %br
          - exp_month = @default_card_information.exp_month.to_s
          - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
          = exp_month + " / " + exp_year
        .form_out__upper
          = form_with url: delete_card_index_path, method: :post, id: 'charge-form',  name: "inputForm" , local: true do |f|
            = f.submit "削除する", class: 'btn-default'
= render "items/footer"